service: otp-login-nestjs

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  timeout: 30
  environment:
    DB_HOST: ${env:DB_HOST}
    DB_PORT: ${env:DB_PORT}
    DB_USERNAME: ${env:DB_USERNAME}
    DB_PASSWORD: ${env:DB_PASSWORD}
    DB_NAME: ${env:DB_NAME}

functions:
  api:
    handler: src/lambda.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-esbuild
  - serverless-offline

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node18
    platform: node
    format: cjs
    external:
      - aws-sdk
      - class-transformer
      - class-validator
      - '@nestjs/microservices'
      - '@nestjs/websockets/socket-module'
      - '@nestjs/microservices/microservices-module'

package:
  individually: false
  excludeDevDependencies: true
